<!doctype html>
<html ng-app>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script type="text/javascript" src="todo.js"></script>
    <link rel="stylesheet" type="text/css" href="todo.css">
  </head>
  <body>
    <div ng-controller="TodoCtrl">
      <h3>Total todos: {{totalTodos()}}</h3>
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
        <li>
          <form ng-submit="addTodo()">
            <input type="text" ng-model="newTodoText">
          </form>
        </li>
      </ul>
    </div>
  </body>
</html>
